.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}
.navbar .logo{
  font-size: 30px;
  margin: 20px;
  width:max(20%, 80px);
  color: rgb(237, 94, 69);
 
}

.navbar .profile{
  width:40px
}